.searchbox {
  position: relative;
  margin-bottom: 15px;

  &__firstrow {
    display: flex;
    align-items: center;
  }

  &__secondrow {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
  }

  &__calendar {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__rangedate {
    color: #fff;
    margin-right: 5px;
  }

  &__removedate {
    cursor: pointer;
  }

  &__input {
    padding: 8px;
    flex-grow: 1;
    line-height: 16px;
    height: 32px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
  }

  &__suggestions {
    position: absolute;
    z-index: 2;
    top: 32px;
    left: 0;
    right: 0;
    max-height: 80vh;
    overflow-y: auto;
  }
}

.suggestion {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: solid #ddd 1px;

  &__poster {
    height: 80px;
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
  }
  &__rate {
    margin-top: 10px;
    font-size: 15px;
  }
}
